*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191970;
    font-family: "Bitter", serif;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div{
    background: rgba(255, 255, 255, 0.1); /* Enyhén áttetsző fehér */
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.log_in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

i{
    width: 20rem;
}

input{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
}

.separator {
    border: none;          
    border-left: 2px solid white; 
    height: 300px;              
    margin: 0;                  
}

.nav {
  display: flex;
  background: rgba(255, 255, 255, 0.1); /* Enyhén áttetsző fehér */
  backdrop-filter: blur(10px); /* Üveghatás (Glassmorphism) */
  padding: 10px 20px;
  border-radius: 50px; /* Ettől lesz kapszula alakú */
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #a0a0a0;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Az aktív (kiválasztott) elem kiemelése */
.nav-item.active {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  color: white;
}

.icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.label {
  font-size: 12px;
}