*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #191970;
    font-family: "Bitter", serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.7);
}

h1{
    color: white;
}

.title{
    background: rgba(255, 255, 255, 0.1); /* Enyhén áttetsző fehér */
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 10rem;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0); /* Enyhén áttetsző fehér */
}

div{
    background-color: #ffe869;
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.log_in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

i{
    width: 20rem;
}

input{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
}

.separator {
    border: none;          
    border-left: 2px solid white; 
    height: 300px;              
    margin: 0;                  
}

/* Az aktív (kiválasztott) elem kiemelése */
.nav-item.active {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  color: white;
}

.icon {
  font-size: 20px;
  margin-bottom: 4px;
}

.label {
  font-size: 12px;
}